    *{
      margin: 0;
      padding: 0;
    }
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
      background: #f2f2f2;
    }
    header{
      width: 100%;
      display:block;
      justify-content: center;
    }

    .form-container {
      background: white;
      max-width: 500px;
      margin: auto;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      margin-bottom: 50px;
    }
    h2 {
      text-align: center;
      padding: 10px;
    }
    h6{
        padding: 5px;
        margin: 5px;
        text-align: left;
        /*background-color: #e7e7e7;*/
    }
    .form-group {
      margin-bottom: 15px;
    }
    /*.cor-header{
      background-image: linear-gradient(to right, #8d93ac, #c4bcbe);
      border: 2px solid;
    }*/
    .logo{
      padding-left: 30px;
      width: 15%;

      
    }
    
.form-step {
  display: none;
}
.form-step.active {
  display: block;
}
textarea{
  resize: none;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 50px; 
}
    /*.teste{
      margin-top: 80px;
      
    }*/
    p{
      padding-bottom: 10px;
      
    }

    label {
      display: block;
      margin-bottom: 6px;
    }
    /*input{
      width: 95%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      
    }*/
    input{
     margin: 10px;
     margin-bottom: 30px;
     padding: 9px;

          
      
    }
    .texto{
           width: 50%;
     display: flexbox;
     border-radius: 8px;
     background-color: #f8f4f4;
    }
  
    label input[type="radio"]{
      display: inline-block;
      margin-bottom: 6px;


    }
    button {
      width: 100%;
      padding: 12px;
      background: #4CAF50;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 16px;
    }

    button:hover {
      background: #45a049;
    }
        .botaovoltar{
      background: rgb(243, 9, 9);
      width: 100%;
      margin-right: 10px;
      
      
    }
    .botaovoltar:hover{
      background-color: rgb(168, 1, 1);
    }
    .separadorBotao{
      padding-top: 100px;
      display:flex;
    }
    input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

            footer img{
      width: 300px;

    }
    footer{
     
      background-color: #919ac7 ;
      display: flex;
      
    }
    
    
    @media (max-width: 600px) {

    .logo{
      width: 50%;
      padding: 1px;
      
    }  
        footer{
     
      background-color: #919ac7 ;
      display: block;
      
    }
     footer img{
      width: 40%;

    }


    .organizafooter{
      display: block;

    }
}
